* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f3e5f5;
    color: #4a148c;
    text-align: center;
    padding: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photo-section {
    margin-bottom: 20px;
}

.bucin-photo {
    width: 300px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photo-section {
    margin-bottom: 20px;
}

.bucin-photo2 {
    width: 300px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photo-section {
    margin-bottom: 20px;
}

.bucin-photo3 {
    width: 300px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.text-section {
    margin-bottom: 20px;
}

.bucin-photo4 {
    width: 300px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.bucin-photo5 {
    width: 300px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.bucin-photo6 {
    width: 300px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.text-section {
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #8e24aa;
}

p {
    font-size: 1.2em;
    color: #6a1b9a;
}

audio {
    margin-top: 20px;
}
